codes/__pycache__/main_frame.cpython-39.pyc
codes/__pycache__/MainFrame_rc.cpython-39.pyc
codes/main_frame.py
codes/main.py
codes/MainFrame_rc.py
codes/MainFrame.qrc
images/Figuras/Easy/zModoEASY.txt
